dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

papers/fse22/main.blg
papers/fse22/main.fdb_latexmk
papers/fse22/main.fls
papers/fse22/main.log
papers/fse22/main.out
papers/fse22/main.pdf
papers/fse22/main.synctex.gz
